body {
  margin: 0;
  padding: 20px;
  background: #f7f9fc;
  font-family: Arial, sans-serif;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px;
}

.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery-image:hover {
  transform: scale(1.05);
  background: #fff;
}

.basicLightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 0.25s ease, transform 0.25s ease;

}
.basicLightbox--visible {
  opacity: 1;
  transform: scale(1);
}
.basicLightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  object-fit: contain;
  
}


